<html>
 <head>
  <title> Selecao do Cleaner </title>
 </head>

 <body> 
    <h1>Selecione os Parametros do cleaner</h1>
         <form action="" method="POST">
            <div> <label> Remove accents</label> 
            <input type="checkbox" name="nome1" value="2" />
            </div>
            <div>
            <label> Remove alpha Numeric </label>
            <input type="checkbox" name="nome1" value="3" />
            </div>
            
            <div>
            <label> Max Word Len </label>
            <input type="checkbox" name="nome1" value="5" />
            </div>
            <input type ="submit" value="Submit" />
         </form>

    <h2> Retornar para o Home </h2>
        <form action="/home">
            <input type="submit" value="retornar">
        </form>

    </body>

</html>
