<html>
 <head>
  <title> Selecao do Cleaner </title>
 </head>

 <body> 
    <h1>Selecione os Parametros do cleaner</h1>
         <form action="" method="POST">
            <div> <label> Remove accents</label> 
            <input type="checkbox" name="nome1" value="2" />
            </div>
            <div>
            <label> Remove alpha Numeric </label>
            <input type="checkbox" name="nome1" value="3" />
            </div>
            
            <div>
            <label> Max Word Len </label>
            <input type="checkbox" name="nome1" value="5" />
            </div>
            <button type ="submit"> Submit </button>
         </form>
 </body>

</html>
