<html>
 <head>
  <title> Home </title>
 </head>

 <body> 
    <h1>Opcoes para o Preprocessor</h1>
        <h2> Cleaner </h2>
        <a href="/home/cleaner"> Selecione o Cleaner </a>
        
        <h2> Stemmer </h2>
        <a href="/home"> Selecione o Cleaner </a>
        
        <h2> StopWords </h2>
        <a href="/home"> Selecione o Cleaner </a>

        <h2> Gerar codigo </h2>
            <form action="/home/envio">
                <input type="submit" value ="Enviar Codigo" />
            </form> 
 </body>

</html>
