original:
                <legend class="border-bottom mb-4">NOME</legend>
                
                <div class="form-group">
                    {{ form.stopWords.label(class="form-control-label") }}
                    {% if form.stopWords.errors %}
                        {{ form.stopWords(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.stopWords.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.stopWords(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
tentativa1:                
                <div class="form-group">
                	<textarea name="stop" rows="10" cols="120"></textarea>
                </div>
tentativa2:
                <div class="form-group">
                    {{ form.stopWords.label(class="form-control-label", size=250) }}
                    {{ form.stopWords(class="form-control form-control-lg") }}
                </div>
tentativa3: